<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout::bootstrap}"></th:block>
</head>
<body>
<div class="card">
    <nav th:replace="~{layout::menu}"></nav>
    <div class="card-header text-bg-dark mb-3">
        Cambiar Contraseña
    </div>
    <div class="card-body">
        <form th:action="@{/auth/cambiarPassword}" method="post">
            <div class="mb-3">
                <label for="password1" class="form-label">Nueva Contraseña</label>
                <input maxlength="15" type="password" class="form-control"
                       name="password1" id="password1">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Repita la contraseña</label>
                <input maxlength="15" type="password" class="form-control"
                       name="password2" id="password2">
            </div>
            <button type="submit" id="btningresar" class="btn btn-primary">
                <i class="fas fa-save"></i>
                Guardar</button>
        </form>
        <div th:if="${error}" th:text="${error}" class="alert alert-danger mt-3" role="alert">

        </div>
    </div>
</div>
</body>
</html>